*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid-container{
    max-width: 460px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.grid{
    height: 16px;
    width: 16px;
    margin: 2px;
    box-shadow: 0 0 2px #fff;
    transition: 5ms ease;
}

.grid:hover{
    transition-duration: 1s;
}

h1{
    font-size: 32px;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}