*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --base: black;
}

body{
    background-color: lightslategrey;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:24px;
}

img{
    --spacing: ;
    --blur: ;

    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}

.controllers{
    font-size: 24px;
}

.custom{
    color: var(--base);
}